*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
.resume {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  background-color:black;
  /* align-items: center; */
 
  color: white;
}

 .resume h3{
width:100%;
height: 5%;
text-align: center;
font-size: 55px;
color:#cd974c;
margin:10px 0px ;

}

.resumeLeft {

  width: 48%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.resumeRight {
 
  width: 48%;
  height: 100%;
}

 .resumeLeft   h1 {
  font-size: 28px;
  margin-top: 0;
  color: rgb(96, 90, 90);
}


.resumeRight h1 {
  color:rgb(96, 90, 90) ;
  margin: 10px 5px;
}

.resumeLeft h4{
  color: grey;
  font-size: 18px;
  margin: 10px 10px;
  
}


.download{
  padding: 12px 28px;
 border-radius: 30px;
    background-color: #cd974c;
    text-decoration: none;
    color:black;
    font-size: 16x;
    margin-top: 30px;
    color: rgb(18, 18, 17);
    font-weight: 700;
    
}


.download:hover{
  background-color: #c48328;
  color: wheat;
}

  h2 {
  font-size: 24px;
margin-bottom: 10px;
  color: #cd974c;
}

h5 {
  font-size: 16px;
  margin:8px  10px;
  color: #231d1d;
  background-color: gray;
 
}

p {
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  color: rgb(139, 134, 134);
}

.resumeContent {
  margin-top: 20px;
}


