*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white; 
}

.portfolio , .skills{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: black; */
}

.portfolio h1{
    width:100%;
height: 15%;
text-align: center;
font-size: 55px;
color:#cd974c;
margin:10px 0px ;

}


.portfolio p{
    width: 60%;
    color: white;
}

.portfolioImage{
    width:100%;
    height: 70%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    
   
   
}
.project{
    width: 30%;
    height: 70%;
    margin: 10PX 20PX;
    padding: 10px 0px;
    
  
  
}


.project a {
    text-decoration: none;
    width: 300px;
    height: 300px;
   padding: 7px 10px;
 
    background-color: #be955c;
    
    color:black;
    font-weight: 700;
    border-radius: 10px 40px;

}

.project a:hover {
    background-color: #cd974c;

    font-weight: 700;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.skills{
    flex-wrap: wrap;
}
  .skills h1 {
    width: 100%;
    height: 10%;
    font-size: 50px;
    text-align: center;
     
  }
  .skillsLeft{
    width: 50%;
    height:4%;
    display: flex;
    align-items: center;
    justify-content: center;


  
  }

 .progress {
    width: 100%;
    height: 100%;
    padding-left: 70px ;
    
  }

  .progressDetail{
    width: 60%;
    height: 50%;
    
  }
  .progressDetail  progress{
    width: 100%;
    height: 100%;
    
  }

  