*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 80px;
 background-color: black;
 

}

.footerContent{
  color: white;
  padding: 20px 20px;
 display: flex;
 flex-direction: column;
 
  justify-content: center;
  align-items: center;
}

.footerContent h6{
    font-size: 12px;
    margin-top: 10px;
}

.footerContent h6 a {
   color: skyblue;
   text-decoration: none;
   font-size: 14px;
}